/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2014, 8:55:16 AM
    Author     : Greg
*/
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.images:hover{
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1);
}

.leading{
    font-size: 20px;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}
.ending{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
header{
    background-color:#C0C0C0;
}
footer{
    border-top:1px solid;
    text-align: center;
}
.boxes{
    display:inline-block;
    width:400px;
    /* border:1px solid; */
    vertical-align:top;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}
.bigbox{
    text-align: center;
    height:310px;
}
#circle{
    stroke:black;
    stroke-width:3;
    fill:none;
}
#rectangle{
    fill:none;
    stroke-width:3;
    stroke:black;
}
#triangle{
    fill:none;
    stroke:black;
    stroke-width:3;
}
#capsAttack{
    text-align: center;
}
